:root {
  --main-color: black;
  --accent-color: royalblue;
  --bkg-color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

aside {
  width: 250px;
  max-height: 100vh;
  min-height: 100vh;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  position: fixed;
  left: 0;
  top: 0;
}
aside > .logo {
  height: 80px;
  color: var(--accent-color);
  display: flex;
}
aside > .logo > h1 {
  margin: auto;
}

aside > ul {
  min-height: 70vh;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
}

aside > ul > li {
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
aside > ul > li > a {
  color: inherit;
  text-decoration: none;
}

aside > ul > li:hover {
  background-color: rgba(129, 158, 245, 0.758);
  color: #eee;
}

/* Admin Profile Button*/
#Adminprofile {
  background-color: #d64141;
  color: white;
  display: flex;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#Adminprofile > a {
  color: inherit;
  text-decoration: none;
  display: flex;
  gap: 0.6rem;
}

/* Admin Profile Button*/

/* Admin Page section*/
#AdminSettings {
  background-color: #eee;
  min-width: calc(100vw - 250px);
  min-height: 100vh;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
}

#AdminSettings > h1 {
  margin: 2rem;
}

/* Modal Styling */
#Dialog {
  width: 20rem;
}
#Dialog,
#InfoDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Dialog h4 {
  font-size: larger;
  margin: 1rem;
}
#Dialog button {
  width: 30%;
  padding: 0.2rem;
  font-size: 17px;
}
#Dialog > form > .buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

#Dialog::backdrop {
  background-color: #22222289;
}
/* Info Dialog Styling */
#InfoDialog {
  width: 40rem;
}
#InfoDialog h2 {
  padding: 1rem;
}
#InfoDialog > form > .info_innerContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
#InfoDialog > form > .info_innerContainer > p {
  background-color: #eee;
  padding: 0.4rem;
}
#InfoDialog > form > .buttons {
  display: flex;
  justify-content: end;
}

#InfoDialog > form > .buttons > button {
  padding: 0.3rem 1rem;
  font-size: larger;
}
.pictureWrapper,
.personalInformation,
.password_section {
  position: relative;
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pictureWrapper > .modify-btn,
.personalInformation > .modify-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  gap: 0.31rem;
  border: 1px solid #888;
  padding: 0.4rem 1rem;
  color: #888;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pictureWrapper > .modify-btn:hover,
.personalInformation > .modify-btn:hover {
  color: white;
  background-color: #888;
}
.pictureWrapper > img {
  height: 100px;
  border-radius: 50%;
}
.pictureWrapper > div {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.pictureWrapper > div > .name {
  font-size: 1.2rem;
}
.pictureWrapper > div > small {
  margin: auto;
}

/* personal Information */

.personalInformation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
}

.personalInformation > .personalInformation_info p {
  font-size: 600;
  font-size: 1.2rem;
}

/* CHANGE PASSWORD*/
.password_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  gap: 2rem;
}
.password_section > input {
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
}
